@{
    Layout = null;
}
<form id="frmInspeccion" class="needs-validation" novalidate method="dialog">
    <h6 class="pt-2">&nbsp;&nbsp;Todos los campos(<i class=" ri-asterisk align-middle text-danger"></i>) son obligatorios</h6>
    <div class="card-body">
        <div class="row align-items-center g-3">
            <div class="col-sm-8">
                <div class="row pb-2">
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" readonly value="GENERADO" />
                    </div>
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-sm-5 pt-2">
                        <div class="form-check form-switch form-switch-md form-switch-secondary" dir="ltr">
                            <input type="checkbox" class="form-check-input" checked id="schkInspeccionRealizada">
                            <label class="form-check-label" for="schkInspeccionRealizada">Activo</label>
                        </div>
                    </div>
                </div>
                <div class="row pb-2">
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Apellidos<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" />
                    </div>
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Nombres<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" />
                    </div>
                </div>        
                <div class="row pb-2">
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Usuario<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" />
                    </div>
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Contraseña<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" />
                    </div>
                </div> 
                <div class="row pb-2">
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Correo<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtCod_Inspe" name="NroInspeccion" />
                    </div>
                </div>
                <div class="row pb-2">
                    <label for="txtNroInspeccion" class="col-sm-2 col-form-label">Roles<i class=" ri-asterisk align-middle text-danger"></i></label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-outline form-check-danger mb-3">
                            <input class="form-check-input" type="checkbox" id="formCheck17" checked="">
                            <label class="form-check-label" for="formCheck17">
                               Vendedor
                            </label>
                        </div>
                        <div class="form-check form-check-outline form-check-danger mb-3">
                            <input class="form-check-input" type="checkbox" id="formCheck17" checked="">
                            <label class="form-check-label" for="formCheck17">
                                Cajero
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border card-border-light">                  
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h4>Foto</h4>
                            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                <img src="~/assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail user-profile-image" alt="user-profile-image">
                                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                    <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                                    <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                        <span class="avatar-title rounded-circle bg-light text-body">
                                            <i class="ri-camera-fill"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <h5 class="fs-16 mb-1">Anna Adame</h5>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-2 mt-3">
                <div class="text-center">
                    <button type="button" class="btn btn-light" id="btnNewInspeccion"><i class="ri-file-text-fill align-bottom me-1 fs-13"></i>&nbsp;Nuevo&nbsp;</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" id="btnRegInspeccion"><i class="ri-save-3-line align-bottom me-1 fs-13"></i><span>Guardar</span></button>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btnFinalizar"><i class="ri-pencil-fill align-bottom me-1 fs-13"></i>&nbsp;Editar&nbsp;</button>
                </div>
            </div>
        </div> 
    </div>
</form> 