@{Layout = null;}
<div class="modal fade" id="modal-inspector-buscar" tabindex="-1" aria-labelledby="titulo-inspector" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-light p-2">
                <h5 class="modal-title" id="titulo-ubicacion">BUSCAR INSPECTOR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2 mb-2">                    
                        <label for="txtInspector" class="col-sm-3 col-form-label">Inspector</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="txtInspector" />
                        </div>
                </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th style="width:30px"></th>
                                    <th>Código</th>
                                    <th>Inspector</th>
                                </tr>
                            </thead>
                            <tbody id="list-inspector">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn-modal-inspector-cerrar"><i class="ri-close-fill align-bottom"></i>Cerrar</button>
                        <button type="button" class="btn btn-success" id="btn-modal-inspector-aceptar"><i class="ri-check-fill align-bottom"></i>Aceptar</button>
                    </div>
                </div>
            </div>
    </div>
</div>