@{Layout = null;}
<div class="modal fade" id="modal-ubicacion-multiple-buscar" style="z-index:99999" tabindex="-1" aria-labelledby="titulo-ubicacion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-light p-2">
                <h5 class="modal-title" id="titulo-ubicacion">BUSCAR ÁREA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">                 
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th style="width:30px"></th>
                                <th>Área</th>
                                <th style="display:none">SubLugar</th>
                            </tr>
                        </thead>
                        <tbody id="list-ubicacion-multiple">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn-modal-ubicacion-multiple-cerrar"><i class="ri-close-fill align-bottom"></i>Cerrar</button>
                    <button type="button" class="btn btn-success" id="btn-modal-ubicacion-multiple-aceptar"><i class="ri-check-fill align-bottom"></i>Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>