@{
    ViewBag.Title = "ROL";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#nav-border-top-home" role="tab" aria-selected="true">
                    <i class="ri-list-ordered align-middle me-1 fs-20"></i>
                    Busqueda Rol
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#nav-border-top-profile" role="tab" aria-selected="false">
                    <i class="ri-book-3-fill align-middle me-1 fs-20"></i>
                    Formulario Rol
                </a>
            </li> 
        </ul>
        <div class="tab-content text-muted">
            <div class="tab-pane active" id="nav-border-top-home" role="tabpanel">
                 <partial name="RoleSearch" />
            </div>
            <div class="tab-pane" id="nav-border-top-profile" role="tabpanel">
                 <partial name="RoleForm" />
            </div> 
        </div>
    </div> 
</div>